<%= stylesheet_link_tag "_smokers", :media => "all" %>

<div class="smoker_ranking">
  <div class="logo_img">
  <img src="/assets/禁煙ランキング.jpg">
  </div>

  <div class="table_group">
    <table class="table table-striped">
      <thead class="table-head text-white bg-dark">
        <tr>
          <th width= 40%>順位</th>
          <th width= 40%>ユーザー名</th>
          <th width= 20%>継続日数</th>
        </tr>
      </thead>
      <tbody>
        <% last_running_days = 0 %>
        <% last_rank_number = 0  %>
        <% rank_number = 0 %>
        <% @smokers.each.with_index(1) do |smoker, i|%>
        <tr class="bg-white">
          <td>
            <% #継続日数の計算 %>
            <% created_date = smoker.created_at.to_date %>
            <% today = Date.current %>
            <% remain = (today - created_date).to_i %>

            <% #同率順位の計算 %>
            <% if i != 1 %>
              <% if last_running_days == remain %>
                <% if rank_number == 2 %>
                  <img src="/assets/王冠 銀.jpeg">
                <% elsif rank_number == 3 %>
                  <img src="/assets/王冠 銅.jpeg">
                <% else %>
                  <%= rank_number %>
                <% end %>
              <% else %>
                <% last_rank_number += 1 %>
                <% rank_number += 1 %>
                <% if rank_number == 2 %>
                  <img src="/assets/王冠 銀.jpeg">
                <% elsif rank_number == 3 %>
                  <img src="/assets/王冠 銅.jpeg">
                <% else %>
                  <%= rank_number %>
                <% end %>
              <% end %>
            <% else %>
              <% last_rank_number = i %>
              <% rank_number = i %>
              <img src="/assets/王冠 金.jpeg">
            <% end %>
          </td>
          <td>
            <% if smoker.image? %>
              <%= image_tag smoker.image.url, class: "icon" %>
            <% else %>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            <% end %>
            <%= link_to smoker.name, smoker_path(smoker.id)%>
          </td>
          <td>
            <% smoker.days = remain %>
            <%= smoker.days %>
            <% last_running_days = remain  %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>