  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
  <div class="col-md-6 mx-auto">
    <div class="form-inline">
      <span>
        <%= link_to user_path(visitor), class: "name" do %>
          <% if visitor.image? %>
            <%= image_tag visitor.image.url, class: "icon" %>
          <% else %>
            <%= image_tag 'profile.png', class: "no_user_image" %>
          <% end %>
          <strong>
            <%= visitor.name %>
          </strong>
        <% end %>
        さんが
        <% case notification.action %>
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', notification.post ,class: "name", style: "font-weight: bold;" %>
        にいいねしました
        <% when 'comment' then %>
          <% if notification.post.user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.post,class: "name", style: "font-weight: bold;" %>
          <% else %>
            <span>
              <%= link_to post_path(notification.post), class: "name" do %>
              <% if visitor.image? %>
                <%= image_tag visitor.image.url, class: "icon" %>
              <% else %>
                <%= image_tag 'profile.png', class: "no_user_image" %>
              <% end %>
              <strong> 
                <%= notification.post.user.name + 'さんの投稿' %>
              </strong>
            </span>
          <% end %>
        <% end %>
        にコメントしました
        <p class="text-muted mb-0 text-center">
          <%= Comment.find_by(id: notification.comment_id)&.body %>
        </p>
        <% end %>
      </span>
    </div>

    <div class="small text-muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>
    </div>
    <hr>
  </div>