<div class="smoker_ranking">
  <div class="table_group">
    <table class="table table-striped">
      <thead class="table-head text-white bg-dark">
        <tr>
          <th width= 20% class="text-center">順位</th>
          <th width= 50%>ユーザー名</th>
          <th width= 30% class="text-center">継続日数</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each.with_index(1) do |user, i|%>
          <tr class="bg-white">
            <td>
              <% #同率順位の計算 %>
              <% continue_days = user.continue_days %>
              <div class="caluculate_rank">
                <div class="number">
                  <%= caluculate_rank_number(i, continue_days) %>
                </div>
              </div>
            </td>
            <td>
              <% if user.image? %>
                <%= image_tag user.image.url, class: "icon" %>
                <%= link_to user.name, user_path(user.id), class: "user_name" %>
              <% else %>
                <%= image_tag 'profile.png', class: "no_user_image" %>
                <%= link_to user.name, user_path(user.id), class: "user_name" %>
              <% end %>
            </td>
            <td>
              <div class="text-center">
                <h6><%= continue_days %></h6>
              </div>
              <% calucalate_last_running_days(continue_days) %>
            </td>
          </tr>
        </div>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users %>
</div>