<div class="smoker_profile">
  <% if @user.image? %>
    <%= image_tag @user.image.url, class: "show_icon" %>
  <% else %>
    <%= image_tag 'profile.png', class: "no_user_image" %>
  <% end %>
  <div class="smoker_name">
    <strong><%= @user.name %></strong>
  </div>

  <div class="balloon">
    <% if @user.word? %>
      <%= @user.word %>
    <% else %>
      <h6>よろしくお願いします。</h6>
    <% end %>
  </div>
  
  <div class="message">
    <% if @user.days.present? && @user.boxes.present? %>
      あなたはタバコを<strong><%= @user.days %></strong>日に1回,<strong><%= @user.boxes %></strong>箱買っていました。
    <% else %>
      タバコ購入頻度についてのデータがありません。
    <% end %>
  </div>

  <div class="start_date mb-2 ml-2" style="font-size: 0.8rem;">
    <i class="far fa-calendar-alt mr-2"></i>
    <%= @user.created_at.to_date %>からすもー禁ぐを利用しています
  </div>

  <hr>
  <div class="saved_money">
    <div class="form-inline mb-2">
      <div class="col-4 ml-2">
        <i class="far fa-money-bill-alt fa-2x"></i>
      </div>
      <% if @user.days.present? && @user.boxes.present? %>
        貯金した金額:<h1><%= @saved_money %></h1>円
      <% else %>
        貯金した金額:<h1>0</h1>円
      <% end %>
    </div>
  </div>
  <hr>
  <div class="count_cigarettes">
    <div class="form-inline mb-2">
      <div class="col-4 ml-2">
        <i class="fas fa-smoking fa-2x"></i>
      </div>
      <% if @user.days.present? && @user.boxes.present? %>
        吸わなかったタバコ:<h1><%= @cigarettes %></h1>本
      <% else %>
        吸わなかったタバコ:<h1>0</h1>本
      <% end %>
    </div>
  </div>
  <hr>
  <div class="save_lifespan">
    <div class="form-inline mb-2">
      <div class="col-4 ml-2">
        <i class="fas fa-heartbeat fa-2x"></i>
      </div>
      <% if @user.days.present? && @user.boxes.present? %>
        <% if @lifespan >= 1440 %> 
          <% days = @lifespan / 1440 %>
          <% remain = @lifespan - (1440 * days) %>
          <% hour = remain / 60 %>
          <% rest = remain % 60 %>
          伸びた寿命:<h1><%= days %></h1>日<h1><%= hour %></h1>時間<h1><%= rest %></h1>分
        <% elsif @lifespan >= 60 %>
          <% hour = @lifespan / 60 %>
          <% rest = @lifespan % 60 %>
          伸びた寿命:<h1><%= hour %></h1>時間<h1><%= rest %></h1>分
        <% else %>
            伸びた寿命:<h1><%= @lifespan %></h1>分
        <% end %>
      <% else %>
        伸びた寿命:<h1>0</h1>分
      <% end %>
    </div>
  </div>
  <hr>


  <% if user_signed_in? && current_user.id == @user.id %>

  <div class="btn_group">
    <%= link_to '削除', user_path(@user), method: :delete, data: { confirm: "削除しますか？"}, class:"btn"  %>
    <%= link_to '編集', edit_user_path(@user), class:"btn"  %>
  </div>
  <% end%>

  <% @posts.each do |post| %>
    <div class="card border-none mb-3 mx-auto">
      <%= render 'card/card', post: post %>
    </div>
  <% end %>
</div>