<div class="smoker_top">
  <div class="top_container">
    <div class="content pt-5">
      <h1 class="catch">その禁煙、もしかして惰性？</h1>
      <p class="lead pt-3 pb-2">すもー禁ぐは、あなたの禁煙を成功に導きます。</p>

      <div class="btn_group pt-5">
        <%= link_to '無料会員登録', new_user_registration_path, class:"btn btn-success btn-lg mr-3" %>
        <%= link_to 'ログイン', user_session_path, class:"btn btn-secondary btn-lg" %>
      </div>
    </div>
  </div>

  <div class="discription pt-5 pb-5 text-center">
    <h2 class="title">
      <i class="fas fa-question-circle"></i>
      すもー禁ぐとは
    </h2>

    <p class="lead">
      あなたの禁煙をお手伝いする<br>記録サービスです。
    </p>
  </div>

  <div class="detail">
    <div class="detail1 pt-5 pb-5" style="background-color: #F2F2F2">
      <div class="row">
        <div class="col-md-7">
          <h2 class="title pb-4">
            <i class="fas fa-signal"></i>
            ランキング機能
          </h2>
          <p class="lead">
            仲間と禁煙日数を競い合おう。禁煙日数が積み上がっていくたびに禁煙のモチベーションが高まります。いますぐ無料会員登録ボタンをクリックして禁煙をスタートさせよう。
          </p>
        </div>
        <div class="col-md-5">
          <%= image_tag"禁煙ランキング.png", class: 'image' %>
        </div>
      </div>
    </div>

    <div class="detail2 pt-5 pb-5">
      <div class="row">
        <div class="col-md-7">
          <h2 class="title pb-4">
            <i class="fas fa-smoking-ban"></i>
            禁煙ライフ
          </h2>
          <p class="lead">
            過去の禁煙失敗の原因は、「孤独」かもしれません。禁煙仲間があなたの禁煙を支えてくれます。仲間たちが禁煙中に何を考えているのか覗き見できます。あなたも禁煙の日常について投稿してみよう。
          </p>
        </div>
        <div class="col-md-5">
          <%= image_tag "禁煙ライフ.png", class: 'image' %>
        </div>
      </div>
    </div>

    <div class="detail3 pt-5 pb-5"style="background-color: #F2F2F2" >
      <div class="row">
        <div class="col-md-7">
          <h2 class="title pb-4">
            <i class="fas fa-eye"></i>
            禁煙を可視化
          </h2>
          <p class="lead">
            物事の継続において、成果を実感することが大切です。禁煙ランキングでは、禁煙を行うことで得られる成果を可視化します。
          </p>
        </div>
        <div class="col-md-5">
            <%= image_tag "禁煙を可視化.png", class: 'image' %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer pt-5 pb-5 text-center">
    <h2>
      <i class="fas fa-check-circle mr-3" style="color: #4CAF50;"></i>
      さあ、始めよう
    </h2>
    <p class="pt-2">登録に必要な時間は 1分程度 です。</p>
    <div class="btn_group pt-4">
        <%= link_to '無料会員登録', new_user_registration_path, class:"btn btn-success btn-lg mr-3" %>
        <%= link_to 'ログイン', user_session_path, class:"btn btn-secondary btn-lg" %>
    </div>
  </div>
</div>
