<div class="smoker_top">
  <div class="top_container">
    <div class="content pt-5">
      <h1 class="catch">その禁煙、もしかして惰性？</h1>
      <p class="lead pt-3 pb-2">すもー禁ぐは、あなたの禁煙を成功に導きます。</p>

      <div class="btn_group pt-3">
        <%= link_to '無料会員登録', new_user_registration_path, class:"btn btn-success btn-lg mr-3" %>
        <%= link_to 'ログイン', user_session_path, class:"btn btn-secondary btn-lg mr-3" %>
        <div class="guest_login">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-warning btn-lg mt-3" %>
        </div>
      </div>
    </div>
  </div>

  <div class="discription text-center">
    <h2 class="title">
      <i class="fas fa-question-circle"></i>
      すもー禁ぐとは
    </h2>

    <p class="lead">
      あなたの禁煙を可視化・記録する<br>サービスです。
    </p>
  </div>

  <div class="detail">
    <div class="style" style="background-color: #F2F2F2">
      <div class="row">
        <div class="col-md-7">
          <h2 class="title pb-4">
            <i class="fas fa-signal"></i>
            ランキング機能
          </h2>
          <p class="lead">
            仲間と禁煙日数を競い合おう。禁煙日数が積み上がっていくたびに禁煙のモチベーションが高まります。いますぐ無料会員登録ボタンをクリックして禁煙をスタートさせよう。
          </p>
        </div>
        <div class="col-md-5 image_group">
          <%= image_tag asset_path("禁煙ランキング.png"), class: 'image' %>
        </div>
      </div>
    </div>

    <div class="style" >
      <div class="row">
        <div class="col-md-7">
          <h2 class="title pb-4">
            <i class="fas fa-eye"></i>
            禁煙を可視化
          </h2>
          <p class="lead">
            物事の継続において、成果を実感することが大切です。すもー禁ぐでは、禁煙を行うことで得られる成果を可視化します。
          </p>
        </div>
        <div class="col-md-5 image_group">
          <%= image_tag asset_path("禁煙を可視化.png"), class: 'image' %>
        </div>
      </div>
    </div>

    <div class="style" style="background-color: #F2F2F2">
      <div class="row">
        <div class="col-md-7">
          <h2 class="title pb-4">
            <i class="fas fa-smoking-ban"></i>
            禁煙ライフ
          </h2>
          <p class="lead">
            過去の禁煙失敗の原因は、「孤独」かもしれません。禁煙仲間があなたの禁煙を支えてくれます。禁煙の日常について投稿して禁煙環境を整えよう。
          </p>
        </div>
        <div class="col-md-5 image_group">
          <%= image_tag asset_path("禁煙ライフ.png"), class: 'image' %>
        </div>
      </div>
    </div>
  </div>

  <div class="other_function pt-5">
    <h3 class="text-center pb-4">
      <i class="fas fa-tools text-muted mr-3"></i>他にもこんな機能が
    </h3>

    <div class="row mb-3">
      <div class="col-md-4 mb-3">
        <div class="card grow">
          <div class="card-body">
            <h4>
              <i class="far fa-comments text-muted mr-3"></i>
              コメント
            </h4>
            <p class="lead text-muted">投稿に対してコメントを残すことができます。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card grow">
          <div class="card-body">
            <h4>
              <i class="fas fa-heart text-muted mr-3"></i>
              いいね
            </h4>
            <p class="lead text-muted">投稿に対して「いいね」を残すことができます。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card grow">
          <div class="card-body">
            <h4>
              <i class="fas fa-search text-muted mr-3"></i>
              検索
            </h4>
            <p class="lead text-muted">任意のユーザーを探し出すことができます。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer pt-5 pb-5 text-center">
      <h2>
        <i class="fas fa-check-circle mr-3" style="color: #4CAF50;"></i>
        さあ、始めよう
      </h2>
      <p class="pt-2">登録に必要な時間は 1分程度 です。</p>
      <div class="btn_group pt-4">
        <%= link_to '無料会員登録', new_user_registration_path, class:"btn btn-success btn-lg mr-3" %>
        <%= link_to 'ログイン', user_session_path, class:"btn btn-secondary btn-lg" %>
        <div class="guest_login">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-warning btn-lg mt-3" %>
        </div>
      </div>
    </div>
  </div>
