<%= stylesheet_link_tag "_users", :media => "all" %>

<div class="register_smoker">
  <div class="card border-none mb-3 p-3 mx-auto">
    <div class="bg-transparent ml-2 mt-2">
      <h5>ログイン</h5>
      <div class="form_groups">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="normal">
          <div class="form_group">
            <label>メールアドレス</label>
            <%= f.text_field :email, :placeholder => "メールアドレスを入力して下さい", class: " form" %>
          </div>
          <div class="form_group">
            <label>パスワード</label>
            <%= f.text_field :password, :placeholder => "パスワードを入力して下さい", class: "form" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="form_group">
          <%= f.submit "送信", data: { confirm: "ログインしますか？"}, class:"btn btn-dark btn-lg"  %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





