<div class="post_index">
  <% @posts.each do |post| %>
  <div class="card border-none mb-3 mx-auto">
    <%=link_to post_path(post.id) do%>
    <div class="bg-transparent ml-2 mt-2">
      <div class="form-inline mb-2">
        <strong>
          <% if post.user.image? %>
          <%= image_tag post.user.image.url, class: "icon" %> <%= link_to post.user.name, user_path(post.user.id), class: "user_name" %>
          <% else %>
          <%= image_tag 'profile.png', class: "no_user_image" %>
          <%= link_to post.user.name, user_path(post.user.id), class: "user_name" %>
          <% end %>
        </strong>
      </div>
      <div class="post_content mx-3">
        <p><%= post.body %></p>
      </div>
    </div>
    <% end %>
    <div class="card-footer bg-transparent">
      <div class="form-inline">
        <div id="like_buttons_<%= post.id %>">
          <%= render 'favorites/favorite', post: post %>
        </div>
        <i class="far fa-comment-dots comment-btn"></i>
        <div class="like_count">
          <%= post.comments.count %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


