<%= stylesheet_link_tag "_posts", :media => "all" %>

<div class="post_show">
  <div class="card border-none mb-3 mx-auto">
    <div class="origin_post">
      <div class="bg-transparent ml-2 mt-2">
        <div class="form-inline mb-2">
          <strong>
            <% if @post.user.image? %>
            <%= image_tag @post.user.image.url, class: "icon" %> <%= link_to @post.user.name, user_path(@post.user.id) %>
            <% else %>
            <i class="far fa-user-circle icon"></i> <%= link_to @post.user.name, user_path(@post.user.id) %>
            <% end %>
          </strong>
        </div>
        <div class="post_content ml-3">
          <p><%= @post.body %></p>
        </div>
      </div>
    </div>
    
    <div class="card-footer bg-transparent">
      <div class="form-inline">
        <% if @post.favorited_by?(current_user) %> 
        <%=link_to post_favorites_path(@post.id), method: :delete do%>
        <i class="fas fa-heart unlike-btn"></i>
        <% end %>
        <div class="like_count">
          <%= @post.favorites.count %>
        </div>
        <% else %>
        <%=link_to post_favorites_path(@post.id), method: :post do%>
        <i class="far fa-heart like-btn" ></i>
        <% end %>
        <div class="like_count">
          <%= @post.favorites.count %>
        </div>
        <% end %>
        <%=link_to post_path(@post.id) do%>
        <i class="far fa-comment-dots comment-btn"></i>
        <% end %>
        <div class="like_count">
          <%= @post.comments.count %>
        </div>
      </div>
    </div>

    <div class="comment">
      <div class="bg-transparent ml-2">
        <% @post.comments.each do |comment| %>
        <hr>
        <strong>
          <% if comment.user.image? %>
          <%= image_tag comment.user.image.url, class: "icon" %> <%= link_to comment.user.name, user_path(comment.user.id) %>
          <% else %>
          <i class="far fa-user-circle icon"></i> <%= link_to comment.user.name, user_path(comment.user.id) %>
          <% end %>
        </strong>
        <% if comment.body? %>
        <div class="post_content ml-3">
          <p><%= comment.body %></p>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form_groups">
    <div class="form_group">
      <%= form_for [@post, @comment] do |f| %>
      <p>
        <%= f.label :body,"ツイート" %>
        <%= f.text_area :body, class:"input_body initial-height" %>
      </p>
      <%= f.submit "送信", data: { confirm: "更新しますか？"}, class:"btn btn-dark btn-lg"  %>
    </div>
    <% end %>
  </div>
</div>